*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.lllogo{
  color: rgb(15, 15, 15) !important;
  background-color: #fd5;
  padding: 10px 10px;
}
.nav-items{
  color: black !important;
  font-weight: bolder !important;
}